# turn on redirection
RewriteEngine on

# Forcing https
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{SERVER_PORT} 80

# http redirects to https
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.qidots.com/$1 [L,R=301]

# non-www redirects to www
RewriteCond %{HTTP_HOST} ^qidots.com [nc]
RewriteRule ^(.*)$ https://www.qidots.com/$1 [L,R=301]

# redirect index.html to its folder
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://www.qidots.com/$1 [R=301,L]
