# turn on redirection
RewriteEngine on

# http redirects to https
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

# non-www redirects to www
RewriteCond %{http_host} ^qidots.com [nc]
RewriteRule ^(.*)$ http://www.qidots.com/$1 [L,R=301]

# redirect index.html to its folder
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.qidots.com/$1 [R=301,L]
