<div class="row">{% for post in site.categories["products"] %}{% if post.type == page.type %}
  <div class="col-lg-4 col-md-6 margin-btm-40">
    <div class="portfolio-sec">
      <div class="portfolio-thumnail">
        <a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}"><mip-img src="{{ site.url }}/images/products/{{ post.image }}.jpg" alt="{{ post.title }}"></mip-img></a>
        <div class="portfolio-desc text-center">
          <h4 class="portfolio-post-title">{{ post.title }}</h4>
          <h4><a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="btn theme-btn-default btn-lg">查看详情</a></h4>
        </div>
      </div>
    </div>
  </div>{% endif %}{% endfor %}
</div>