---
layout: pages
---
<div class="row">
  <div class="col-md-8">
    <div class="blog-post-section">
      <div class="blog-post-header"><h3>{{ page.title }}</h3></div>
      <div class="blog-post-info">{{ page.date | date:"%Y年%m月%d日" }}</div>
      <div class="text-indent-2">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="heading-sec margin-top-50"><a data-type="mip" data-title="行业资讯" href="{{ site.url }}/news/">行业资讯</a></h3>
      </div>
    </div>
    <div class="row">{% for post in site.categories["news"] limit:4 %}
      <div class="col-lg-6 col-md-6 margin-btm-20">
        <div class="news-sec text-center">
          <div class="news-thumnail">
            <a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}"><mip-img src="{{ site.url }}/images/news/{{ post.image }}.jpg" alt="{{ post.title }}"></mip-img></a>
            <div class="news-desc">
              <h3 class="blog-post-title"><a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></h3>
              <span class="news-post-cat">{{ post.date | date:"%Y年%m月%d日" }}</span>
              <p>{{ post.description }}</p>
            </div>
          </div>
        </div>
      </div>{% endfor %}
    </div>
  </div>
  <div class="col-md-4 hidden-xs">
    <div class="sidebar-box">
      <h4>联系我们</h4>
      <p><i class="fas fa-map-marker-alt"></i> {{ site.address }}</p>
      <p><i class="fas fa-phone"></i> <a href="tel:{{ site.tel }}">{{ site.tel }}</a></p>
      <p><i class="fas fa-fax"></i> {{ site.fax }}</p>
      <p><i class="fas fa-envelope"></i> {{ site.email }}</p>
    </div>
    <hr class="margin-btm-30">
    <div class="sidebar-box">
      <h4>家具智能锁</h4>
      <ul class="cat-list">{% for post in site.categories["products"] %}{% if post.type == '家具智能锁' %}
        <li><a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></li>{% endif %}{% endfor %}
      </ul>
    </div>
    <hr class="margin-btm-30">
    <div class="sidebar-box">
      <h4>酒店/个人保险箱锁</h4>
      <ul class="cat-list">{% for post in site.categories["products"] %}{% if post.type == '酒店/个人保险箱锁' %}
        <li><a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></li>{% endif %}{% endfor %}
      </ul>
    </div>
    <hr class="margin-btm-30">
    <div class="sidebar-box">
      <h4>保险箱锁</h4>
      <ul class="cat-list">{% for post in site.categories["products"] %}{% if post.type == '保险箱锁' %}
        <li><a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></li>{% endif %}{% endfor %}
      </ul>
    </div>
    <hr class="margin-btm-30">
    <div class="sidebar-box">
      <h4>行业资讯</h4>{% for post in site.categories["news"] limit:18 %}
      <div class="recent">
        <p><a data-type="mip" data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></p>
        <span>{{ post.date | date:"%Y年%m月%d日" }}</span>
      </div>{% endfor %}
    </div>
  </div>
</div>