---
layout: pages
---
<div class="row">
  <div class="col-md-6 margin-btm-40">
    <mip-carousel autoplay defer="3500" layout="responsive" width="1000" height="667" indicator buttonController>
      <div class="item active"><mip-img src="{{ site.url }}/images/products/{{ page.image }}.jpg" alt="{{ page.title }}"></mip-img></div>
      <div class="item"><mip-img src="{{ site.url }}/images/products/{{ page.image }}-2.jpg" alt="{{ page.title }}"></div>
      <div class="item"><mip-img src="{{ site.url }}/images/products/{{ page.image }}-3.jpg" alt="{{ page.title }}"></div>
    </mip-carousel>
  </div>
  <div class="col-md-6 margin-btm-40">
    <h3 class=" margin-btm-20">{{ page.type }}{{ page.title }}</h3>
    {{ content }}
    <hr class="margin-btm-20">
    <div class="col-lg-3 col-md-6"><p><i class="fas fa-phone"></i> <a href="tel:{{ site.tel }}">{{ site.tel }}</a></p></div>
    <div class="col-lg-3 col-md-6"><p><i class="fab fa-qq"></i> <a href="http://wpa.qq.com/msgrd?v=3&uin={{ site.qq }}&site=qq&menu=yes">{{ site.qq }}</a></p></div>
    <div class="col-lg-3 col-md-6"><p><i class="fab fa-weixin"></i> <span on="tap:weixin.toggle" id="btn-open" tabindex="0">点击扫码，添加好友</span></p></div>
  </div>
  <div class="col-md-12">
    <h3 class="heading-sec margin-top-50">{{ page.type }}</h3>
    {% include products-list.html %}
  </div>
</div>