---
layout: pages
---
<div class="row">
  <div class="col-md-6 margin-btm-40">
    <mip-img src="{{ site.url }}/images/products/{{ page.image }}.jpg" alt="{{ post.title }}"></mip-img>
  </div>
  <div class="col-md-6 margin-btm-40">
    <h3 class=" margin-btm-20">{{ page.title }}</h3>
    {{ content }}
    <p><a href="tel:{{ site.tel1 }}" class="btn btn-radius theme-btn-color margin-top-20"><i class="fas fa-phone"></i> 联系电话：{{ site.tel1 }}</a></p>
    </div>
  </div>
  <div class="col-md-12">
    <h3 class="heading-sec margin-top-50">{{ page.type }}</h3>
    {% include products-list.html %}
  </div>
</div>